<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xushicao.accounting.dao.mapper.AccountMapper">
    <resultMap id="accountResultMap" type="AccountDO">
        <id property="accountNo" column="account_no"/>
        <result property="accountName" column="account_name"/>
        <result column="account_type" property="accountType"/>
        <result column="balance_direction" property="direction"/>
        <result column="last_trans_time" property="lastTransTime"/>
    </resultMap>
    <insert id="insert">
        insert into account (account_no, account_name, account_type, status, balance, create_time,
                             currency, balance_direction, last_trans_time)
        values (#{accountNo}, #{accountName}, #{accountType}, #{status}, #{balance}, now(),
                #{currency}, #{direction}, now())
    </insert>

    <select id="select" resultMap="accountResultMap">
        select *
        from account
        where account_no = #{accountNo};
    </select>

    <select id="selectForUpdate" resultMap="accountResultMap">
        select *
        from account
        where account_no = #{accountNo} for
        update;

    </select>
    <update id="update">
        update account
        set status=#{status},
            update_time=NOW()
        where account_no = #{accountNo};
    </update>

    <update id="updateBalance">
        update account
        set
        <if test="days>0">
            prev_balance=balance,
            prev_trans_date=subdate(now(), interval 1 day),
        </if>
        balance = #{balance},
        last_trans_time =#{transDT},
        update_time = now()
        where account_no = #{accountNo};
    </update>

    <select id="selectPage" resultType="AccountDO">
        SELECT *
        FROM account
        limit #{pageSize} OFFSET#{pageNum}
    </select>

    <select id="selectNow" resultType="java.time.LocalDateTime">
        select now();
    </select>

</mapper>