<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xushicao.accounting.dao.mapper.AccountDailyMapper">
    <insert id="insert">
        INSERT INTO account_daily (account_no, opening_balance, closing_balance)
        values (#{accountNo}, #{openingBalance}, #{closingBalance});
    </insert>

    <update id="update">
        update account_daily set account_no=#{accountNo},date=DATE_SUB(NOW(),INTERVAL 1 DAY)
        ,opening_balance=closing_balance;
        <if test="days>0">
            update account_daily set closing_balance=#{balance}
        </if>
        <if test="day=0">
            update account_daily set closing_balance=#{prevBalance}
        </if>
    </update>
</mapper>