<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xushicao.accounting.dao.mapper.AccountMapper">
    <resultMap id="accountResultMap" type="AccountDO">
        <id property="accountNo" column="account_no"/>
        <result property="accountName" column="account_name"/>
        <result column="account_type" property="accountType"/>
        <result column="balance_direction" property="direction"/>
    </resultMap>
    <insert id="insert">
        insert into account (account_no, account_name, account_type, status, balance, create_time,
                             currency)
        values (#{accountNo}, #{accountName}, #{accountType}, #{status}, #{balance}, now(),
                #{currency})
    </insert>

    <select id="select" resultMap="accountResultMap">
        select *
        from account
        where account_no = #{accountNo};
    </select>

    <select id="selectForUpdate" resultMap="accountResultMap">
        select *
        from account
        where account_no = #{accountNo} for
        update NOWAIT
    </select>

    <update id="update">
        update account
        set status=#{status},
            update_time=NOW()
        where account_no = #{accountNo};
    </update>

    <update id="updateBalance">
        update account
        set balance=#{balance},
            prev_balance=#{prevBalance},
            prev_trans_date=now(),
            update_time=now()
        where account_no = #{accountNo};
    </update>

</mapper>