<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xushicao.accounting.dao.mapper.AccountLogMapper">
    <insert id="insert">
        insert into account_log (id, account_no, other_account_no, trans_amount, balance, currrncy, trans_code,
                                 sub_trans_code, trans_date, trans_dt, out_date, order_no, recon_inst
            , operator_id, gmt_create, gmt_modified)
        values (#{id}, #{accountNo}, #{otherAccountNo}, #{transAmount}, #{balance}, #{currency}, #{transCode},
                #{subTransCode}, DATE_SUB(NOW(), INTERVAL 1 DAY), NOW(), NOW(), #{orderNo}, #{reconInst}, #{operatorID}
                   , NOW(), NOW())
    </insert>
</mapper>